@mixin flex-column ($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.stat-choice {
    padding: 1rem;
    border: 3px solid var(--chartreuse);
    border-top: none;
    height:100%;
    @include flex-column(0.5rem);
    .stats-body {
        @include flex-column(0.5rem);
        .stat-section {
            display: grid;
            grid-template-columns: 45px 1fr;
            column-gap: 0.5rem;
            grid-template-areas:
                "input  label"
                "input  descrip";
            input {
                grid-area: input;
                text-align: center;
                font-size: 2rem;
                border-radius: 0rem;
                border: 1px solid black;
                user-select: none;
                cursor: default;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }

            input[type=number] {
                -moz-appearance:textfield; /* Firefox */
            }
            label {
                grid-area: label;
                display: flex;
                justify-content: space-between;
                .button-section {
                    display: flex;
                    gap: 0.5rem;
                }
            }
            .stat-descrip {
                grid-area: descrip;
                font-size: var(--descrip-font-size);
                color: grey;
            }
        }
    }
    .choice-section {
        display: grid;
        place-content: center;
        .choice-body {
            .stat-choice-section {
                display: grid;
                grid-template-columns: repeat(2, 48px);
                grid-template-areas:
                    "col1       col2"
                    "descrip    descrip";
    
                .choice-descrip {
                    grid-area: descrip;
                }
                .choice-column {
                    font-size: 2rem;
                    @include flex-column(0.5rem);
                    text-align: center;
                    >div {
                        padding: 2px 1px 0 1px;
                        border: 1px solid black;
                        height: 42px;
                        width: 42px;
                    }
                    &:hover {
                        background-color: #c2fe0c;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 375px) {
    .stat-choice {
        flex-direction: row;
        justify-content: center;
    }
}
