<div class="tsl-char-sheet-layout">
    <div class="tsl-char-sheet-body">
        @if (tslCharList && !startCharacterBuilder) {
            show characters
        } @else if (!startCharacterBuilder) {
            <div class="create-new-layout">
                <button (click)="startCharacterBuilder = true" class="utility-button">[ CREATE NEW ]</button>
            </div>
        }
        @if (startCharacterBuilder) {
            <app-creator
            >
            </app-creator>
        }

    </div>
    @if (true) {
        <app-utility-footer
            class="utility-footer"
        ></app-utility-footer>
    }

</div>