$chartreuse: #c2fe0c;
$division: #ececec;

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.tsl-char-sheet-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "body"
        "footer";
    .tsl-char-sheet-body {
        display: grid;
        place-items: center stretch;
        grid-area: body;
        overflow: auto;
        padding: 0 1rem;
    }
    .utility-footer {
        width: 100%;
        grid-area: footer;
    }
    .create-new-layout {
        place-self: center;
        width: max-content;
        padding: 1rem;
        background-color: var(--chartreuse);
        color: black;
    }
}