.strings-layout {
    background-color: lightgrey;
    .strings-header-section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .strings-subheader {
            font-size: 0.8rem;
            div {
                color: grey;
            }
        }
    }
    .strings-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;
        .string-object-layout {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: repeat(2, min-content);
            row-gap: 0.5rem;
            grid-template-areas:
                "check  check"
                "input  remove";
            .checkbox-layout {
                display: flex;
                gap: 0.5rem;
                grid-area: check;
                place-self: center;
                user-select: none;
                .string-checkbox {
                    place-self: center;
                    height: 1rem;
                    width: 1rem;
                    border: 1px solid white;
                    border-right-width: 3px;
                    border-bottom-width: 3px;
                    display: grid;
                    place-content: center;
                    font-family: 'RobotoMono';
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    &.checked {
                        background-color: magenta;
                    }
                    &.locked {
                        cursor: unset;
                    }
                }
            }
            .input-label-layout {
                margin-left: 1rem;
                grid-area: input;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, auto);
                label {
                    font-size: 0.8rem;
                    color: grey;
                }
                input {
                    background-color: transparent;
                    font-size: 1rem;
                    border: none;
                    border-bottom: 1px solid black;
                    text-align: center;
                }
            }
            .remove {
                margin-left: 0.5rem;
                grid-area: remove;
            }
        }
    }
}

@media only screen and (min-width: 425px) {
    .strings-layout {
        .strings-body {
            .string-object-layout {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: 1fr;
                grid-template-areas:
                    "check  input   remove";
                .checkbox-layout {
                    padding-left: 0.5rem;
                    gap: 0.3rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .strings-layout {
        .strings-body {
            .string-object-layout {
                .checkbox-layout {
                    padding-left: 1rem;
                    gap: 0.5rem;
                }
            }
        }
    }
}
