<div class="strings-layout">
    <div class="strings-header-section">
        <div class="strings-title adder-title">STRINGS</div>
        <div class="strings-subheader"><em>gaining a fourth string triggers a <strong>string advance</strong><div>[ +2XP//earn a secret ]</div></em></div>
    </div>
    <div class="strings-body">
        <button (click)="addStringObj()" [disabled]="lockInputs" class="utility-button">[ ADD NEW ]</button>
        @for (string of stringsObjArray; track $index) {
            <div class="string-object-layout">
                <div class="checkbox-layout">
                    <div [ngClass]="{
                        'checked': string.numStrings >= 1,
                        'locked': lockInputs}" (click)="updateString($index, 1)" class="string-checkbox">
                        @if (string.numStrings >= 1) {
                            X
                        }
                    </div>
                    <div [ngClass]="{
                        'checked': string.numStrings >= 2,
                        'locked': lockInputs}" (click)="updateString($index, 2)" class="string-checkbox">
                        @if (string.numStrings >= 2) {
                            X
                        }
                    </div>
                    <div [ngClass]="{
                        'checked': string.numStrings >= 3,
                        'locked': lockInputs}" (click)="updateString($index, 3)" class="string-checkbox">
                        @if (string.numStrings >= 3) {
                            X
                        }
                    </div>
                    <div [ngClass]="{
                        'checked': string.numStrings === 4,
                        'locked': lockInputs}" (click)="updateString($index, 4)" class="string-checkbox">
                        @if (string.numStrings === 4) {
                            X
                        }
                    </div>
                </div>
                <div class="input-label-layout">
                    <input [disabled]="lockInputs" [(ngModel)]="string.name" type="text" id="string-{{$index}}">
                    <label for="string-{{$index}}">NAME</label>
                </div>
                <button (click)="removeStringObj($index)" [disabled]="lockInputs" class="utility-button remove">[ FORGET ]</button>
            </div>
        }
    </div>
</div>