@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono'), url(../public/assets/fonts/RobotoMono.ttf) format('truetype');
}

@font-face {
    font-family: "Adder";
    src: local('Adder'), url(../public/assets/fonts/Adder.otf) format('opentype');
}

:root {
    --chartreuse: #c2fe0c;
    --rust: #FF5500;
    --magenta: #ff51fc;
    --disabled-light-background: rgba(239, 239, 239, 0.3);
    --disabled-light-color: rgba(16, 16, 16, 0.3);

    --small-font: 0.8rem;
}

html, body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-color: white;
    color: black;
    font-size: 1rem;
    font-family: 'RobotoMono';

    background-position: 0px 0px;
    background-size: 40px 40px;
    background-image:
        radial-gradient(circle, var(--chartreuse) 2px, white 2px);
    animation: move-background 120s infinite linear;
}

.utility-button {
    border: none;
    background-color: black;
    color: white;
    font-family: 'RobotoMono';
    cursor: pointer;
    padding: 0 0.5rem;
    &:hover {
        color: white;
        background-color: blue;
        font-weight: bold;
    }
    &:active {
        background-color: var(--chartreuse);
        color: black;
    }
    &:disabled {
        background-color: grey;
        cursor: unset;
        &:hover {
            font-weight: unset;
        }
        &:active {
            color: white;
        }
    }
}

.input-label-layout {
    display: flex;
    flex-direction: column;
    input, .textarea, select {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        font-family: 'RobotoMono';
        font-size: 1rem;
    }
    .textarea {
        background-color: pink;
        resize: vertical;
        overflow: hidden;
    }
    label {
        font-family: 'RobotoMono';
        font-size: var(--small-font);
        .error {
            background-color: blue;
            color: white;
        }
    }
}

@keyframes move-background {
    from {
        background-position: 0 0;
    } to {
        background-position: 50% 100%;
    }
}
